doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/less/app.css', rel='stylesheet')
  body
    nav
      span
        a(href='/') Home
      span
        a(href='/about') About
      span
        a(href='/faq') Faq
      span
        a(href='/photos') Photos
      span
        a(href='/dogs') Dogs

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/source/main.js')

    block scripts
